.filter__container{
    max-width: 1000px;
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__item{
    flex: 1 1 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter__label{
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
}

.filter__input,
.filter__select{
    border: 1px solid #ccc;
}

.filter__input:focus,
.filter__select:focus{
    border: 1px solid #999;
}

.filter__select{
    width: 70%;
    text-transform: capitalize;
}

.filter__select option{
    text-transform: capitalize;
}
